.mdl-badge {
  color: white;
}

.demo-avatar {
  margin-bottom: 10px;
  width: 54px;
  height: 54px;
  border-radius: 27px;
}

img.demo-avatar {
  margin: 5px 10px 5px 0;
}

header > div.mdl-layout__header-row {
  & > div.demo-avatar-dropdown {
    margin-right: 0;
    width: 34px;
    height: 48px;
    padding-right: 16px;

    & > img {
      margin-left: 0;
      padding-left: 0;
      width: 34px;
      height: 34px;
    }
  }

  & > div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable {
    margin-top: 0;
    padding: 0px 8px;
    vertical-align: middle;

    & > label {
      bottom: 0px;

      & > i {
        opacity: 0.8;
        color: white;
        width: 24px;
        height: 24px;
      }
    }

  }
}

header #more {
  padding: 0 0 0 0;
  margin: 0 16px 0 0;
  width: 48px;
  height: 48px;
  cursor: pointer;

  & > i {
    opacity: 0.8;
    color: white;
    padding: 12px 12px 12px 12px;
    margin: 0 0 0 0;
    width: 24px;
    height: 24px;
  }
}

#notification, #inbox {
  height: 24px;
  width: 24px;
  margin: 12px 12px 12px 12px;
  cursor: pointer;
}

#notification > i, #inbox > i {
  opacity: 0.80;
  color: white;
}

#notification > span, #inbox > span {
  left: 10px;
  bottom: 26px;
}

#userNameHeader {
  opacity: 0.5;
  color: white;
  text-align: center;
  padding-left: 32px;
  padding-right: 16px;
  font-famile: 'roboto';
}

main {
  background: url("../images/Dark_background_1920x1080.png") center top no-repeat;
  background-size: cover;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 0px;
  width: 100%;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 236px;
}

header.demo-header.mdl-layout__header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

header.demo-header.mdl-layout__header > div.mdl-layout__header-row {
  margin-right: 0;
  padding-right: 0;
}

@media screen and (max-width: $layout-screen-size-threshold) {
  .mdl-layout--fixed-drawer {
    & > .mdl-layout__content {
      margin-left: 0;
    }
    & > .demo-drawer.mdl-layout__drawer {
      transform: translateX(-$layout-drawer-width - 10px);
    }
    .mdl-layout__drawer.is-visible {
      transform: translateX(0) !important;
    }

  }
}
