.mdl-data-table {
  @include typo-data-table;
  background-color: $background-color;
  color: $data-table-color;
  border: none;
  tr:last-child td {
    border: none;
  }
  td, th {
    &:first-of-type {
      padding-left: 16px;
    }
    &:last-of-type {
      padding-right: 16px;
    }
  }
  tr:hover {
    background-clip: padding-box;
  }
}