// Used in this place, because this variables do not have '!default' flag in MDL
$data-table-dividers: 1px solid $table-separator-border-color;
$data-table-hover-color: unquote("rgba(#{$color-black}, 0.2)");
$data-table-font-size: 16px;
$data-table-header-color: unquote("rgb(#{$color-white})");

.mdl-data-table {
  @include typo-data-table;
  font-size: $data-table-font-size;
  background-color: $background-color;
  color: $data-table-color;
  th {
    @include typo-body-2($colorContrast: false, $usePreferred: true);
    color: $data-table-header-color;
    padding-bottom: 10px;
    .mdl-data-table__select {
      bottom: 11px;
    }
  }
  tbody {
    tr {
      border-top: $data-table-dividers;
      &.is-selected {
        background-color: $background-color;
      }
      &:hover {
        background-clip: padding-box;
        background-color: $data-table-hover-color;
      }
    }
    td {
      padding-top: 13px;
      border: none;
    }
  }
  td, th {
    &:first-of-type {
      padding-left: 16px;
    }
    .mdl-data-table__select {
      left: 16px;
    }
  }
}

.mdl-data-table--selectable td:first-child {
  padding-top: 11px;
}