// Used in this place, because this variables do not have '!default' flag in MDL
$data-table-dividers: 1px solid $table-separator-border-color;
$data-table-hover-color: unquote("rgba(#{$color-black}, 0.2)");

.mdl-data-table {
  @include typo-data-table;
  background-color: $unit-background-color;
  color: unquote("rgb(#{$color-white})");
  th {
    font-size: 14px;
    font-weight: 500;
    color: unquote("rgb(#{$color-white})");
    padding-bottom: 10px;
    .mdl-data-table__select {
      bottom: 11px;
    }
  }
  tbody {
    tr {
      border-top: $data-table-dividers;
      &.is-selected {
        background-color: $unit-background-color;
      }
      &:hover {
        background-color: $data-table-hover-color;
      }
    }
  }
  td {
    padding-top: 15px;
    border: none;
    &:first-child {
      padding-top: 11px;
    }
    .mdl-tooltip {
      padding: $table-tooltip-vertical-padding $table-tooltip-horizontal-padding;
    }
  }
}