.trending {
  .mdl-card__supporting-text {
    width: 100%;
    padding: 8px 0;
  }
  .list__item {
    margin-bottom: 0;
    padding: 12px 16px;
    &:hover {
      background-clip: padding-box;
      background-color: $trending-list-item-hover-color;
    }
  }
  .material-icons {
    margin-top: -12px;
    font-size: $trending-arrow-size;
  }
  &__arrow-up {
     color: $trending-arrow-up-color;
  }
  &__arrow-down {
    color: $trending-arrow-down-color;
  }
  &__percent {
    text-align: right;
    width: 40px;
  }
}
