.cotoneaster {
  &.mdl-card {
    height: 450px;
  }
  .mdl-card__supporting-text {
    @include typo-card;
    padding-bottom: 26px;
    color: $card-text-color;
    a{
      @include typo-href;
    }

  }
  .mdl-card__title {
    color: $card-title-img-color;
    background:
    url('../images/cotoneaster.jpg') center center no-repeat;
    background-size: cover;
  }
}