.weather {
  .mdl-card__supporting-text {
    color: $card-text-color;
    background: url('../images/weather_bck.png') center center no-repeat;
    background-size: cover;
    text-align: right;
    padding-top: 21px;
    text-shadow: $weather-shadow-4px;
    h1 {
      @include typo-weather-temperature;
      color: $card-deg-color;
      sup{
        position: relative;
        top: 13px;
      }
    }
    h3 {
      @include typo-weather-description;
      position: relative;
      &:before {
        width: 35px;
        position: absolute;
        top: 7px;
        right: 150px;
        content: url(../images/cloudy_and_snow.svg);
      }
    }

  }

  .mdl-card__title {
    .md-subhead {
      color: $card-subhead-color;
      .material-icons {
        font-size: 16px;
        top: 3px;
      }
    }
  }
  &.mdl-card {
    @include typo-card;
    height: 320px;
  }

}