$data-table-hover-color: unquote("rgba(#{$color-black}, 0.3)"); // fix it!!!!
$data-table-divider-color: $separate-border-color;
$data-table-dividers: 1px solid $data-table-divider-color;
$data-table-row-height: 48px;

.mdl-data-table {
  @include typo-data-table;
  background-color: $unit-background-color;
  color: unquote("rgba(#{$color-white}, 0.8)");

  tbody {
    tr {
      &.is-selected {
        background-color: $unit-background-color;
      }

      &:hover {
        background-color: $data-table-hover-color;
      }
    }
  }
  th {
    @include typo-data-table-header;
    color: unquote("rgba(#{$color-white}, 0.8)");

  }
  td {
    &.mdl-data-table__cell--non-numeric {
      padding-top: 16px;
    }
    height: $data-table-row-height;
    border-top: $data-table-dividers;
    border-bottom: $data-table-dividers;
  }
}