.dark_dropdown {
    background-color: $background-color;
    width: $settings_dropdown_width;

    li {
	@include typo-dropdown-menu-li();

	&:hover {
	    background-color: $dropdown-menu-hover-color;
	}
    }
}