<div class="mdl-grid mdl-grid--no-spacing">
  <div
    class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
    <!-- Pie chart-->
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <pie-chart></pie-chart>
    </div>
    <!-- Weather widget-->
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <weather></weather>
    </div>
    <!-- Trending widget-->
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <trending></trending>
    </div>
    <!-- Cotoneaster card-->
    <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
      <cotoneaster-card></cotoneaster-card>
    </div>
    <!-- Line chart-->
    <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
      <line-chart></line-chart>
    </div>
    <!-- Table-->
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
      <table-card></table-card>
    </div>
  </div>
  <div
    class="mdl-grid mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
    <!-- Robot card-->
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
      <robot-card></robot-card>
    </div>
    <!-- ToDo_widget-->
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
      <todo-list></todo-list>
    </div>
  </div>
</div>
