.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.background-color--primary {
   background-color: unquote("rgba(#{$color-primary}, 0.8)");
 }

.background-color--secondary {
  background-color: unquote("rgba(#{$color-secondary}, 0.8)");
}

.background-color--baby-blue {
  background-color: unquote("rgba(#{$color-baby-blue}, 0.8)");
}

.background-color--cerulean {
  background-color: unquote("rgba(#{$color-cerulean}, 0.8)");
}

.background-color--mint {
  background-color: unquote("rgba(#{$color-mint}, 0.8)");
}

.text-color--primary {
  color: unquote("rgba(#{$color-primary}, 0.8)");
}

.text-color--secondary {
  color: unquote("rgba(#{$color-secondary}, 0.8)");
}

.text-color--baby-blue {
  color: unquote("rgba(#{$color-baby-blue}, 0.8)");
}

.text-color--cerulean {
  color: unquote("rgba(#{$color-cerulean}, 0.8)");
}

.text-color--mint {
  color: unquote("rgba(#{$color-mint}, 0.8)");
}