@mixin typo-list ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 16px;
  font-weight: 300;
}

@mixin typo-textfield-input ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
}

@mixin typo-data-table ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 16px ;
  font-weight: 300;
}



@mixin typo-dropdown-menu-footer($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 500;
  color: $dropdown-menu-footer-font-color;
}

@mixin typo-dropdown-menu-header($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 100;
  color: $dropdown-menu-header-font-color;
}

@mixin typo-dropdown-menu-li($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 100;
  color: white;
}


@mixin typo-label($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 12px;  
  font-weight: 400;
  line-height: 1.1em;
}

@mixin typo-message-topic($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  line-height: 1.1em;
  span:first-of-type {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }
    
  span {
    font-size: 12px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
  }
}