@mixin typo-default ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 16px;
  font-weight: 300;
}

@mixin typo-list ($usePreferred: true) {
  @include typo-default($usePreferred);
}

@mixin typo-card ($usePreferred: true){
  @include typo-default($usePreferred);
}

@mixin typo-href($usePreferred: true){
  @include typo-default($usePreferred);
  color:  $card-href-color;
  text-decoration: none;
}

@mixin typo-textfield-input ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
}

@mixin typo-data-table ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-weight: 300;
}

@mixin typo-dropdown-menu-header($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 100;
  color: $dropdown-menu-header-font-color;
}

@mixin typo-dropdown-menu-li($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 100;
  color: white;
}


@mixin typo-label($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-weight: 400;
  line-height: 1em;
}

@mixin typo-message-topic($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  line-height: 1.1em;
  span:first-of-type {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }
    
  span {
    font-size: 12px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
  }
}

@mixin typo-account-dropdown-header($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  line-height: 1.1em;
  span:first-of-type {
    line-height: 1.7em;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 300;
  }
    
  span {
    color: rgba(255, 255, 255, 0.64);
    line-height: 1.3em;
    font-weight: 500;
    font-size: 14px;
    font-weight: 300;
  }
}

@mixin typo-piechart-title($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  fill: unquote("rgb(#{$color-white})");
  font-weight: 300;
}
@mixin typo-piechart-legend($usePreferred: true) {
  @include typo-default($usePreferred);
  color: unquote("rgb(#{$color-white})");
}

@mixin typo-weather-temperature($usePreferred: true){
  @include typo-preferred-font($usePreferred);
  font-size: 100px;
  line-height: 1;
  margin-bottom: 0;
}

@mixin typo-weather-description($usePreferred: true){
  @include typo-preferred-font($usePreferred);
  margin-top: 0;
  font-size: 18px;
  font-weight: 300;
}