@mixin typo-list ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 16px;
  font-weight: 300;
}

@mixin typo-textfield-input ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
}

@mixin typo-data-table ($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 16px ;
  font-weight: 300;
}

