@mixin typo-default($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 16px;
  font-weight: 300;
}

@mixin typo-list($usePreferred: true) {
  @include typo-default($usePreferred);
  color: white;
  letter-spacing: 0;
}

@mixin typo-card-supporting-text($usePreferred: true) {
  @include typo-default($usePreferred);
}

@mixin typo-card-subtitle-text($usePreferred: true) {
  @include typo-default($usePreferred);
}

@mixin typo-textfield-input($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
}

@mixin typo-data-table($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-weight: 300;
}

@mixin typo-dropdown-menu-header($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 100;
  color: $dropdown-menu-header-font-color;
}

@mixin typo-dropdown-menu-li($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 14px;
  font-weight: 100;
  color: white;
}

@mixin typo-label($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-weight: 300;
  line-height: 1em;
}

@mixin typo-message-topic($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  line-height: 1.1em;
  span:first-of-type {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }

  span {
    font-size: 12px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
  }
}

@mixin typo-account-dropdown-header($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  line-height: 1.1em;
  span:first-of-type {
    line-height: 1.7em;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 300;
  }

  span {
    color: rgba(255, 255, 255, 0.64);
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 300;
  }
}

@mixin typo-piechart-title($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  fill: unquote("rgb(#{$color-white})");
  font-weight: 300;
}

@mixin typo-chart-legend($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-weight: 300;
  font-size: 16px;
  color: unquote("rgb(#{$color-white})");
}

@mixin typo-linechart-axis-label($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 12px;
  font-weight: 300;
}

@mixin typo-weather-temperature($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 100px;
  line-height: 1;
}

@mixin typo-weather-description($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 18px;
  font-weight: 300;
}

@mixin typo-layout-navigation-link($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 13px;
  font-weight: 500;
  .material-icons {
    font-size: 22px;
    width: 22px;
  }
}

@mixin typo-employer-form-header($usePreferred: true) {
  @include typo-preferred-font($usePreferred);

  h2:first-of-type {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8); //$employer-form-color-darker;//unquote("rgb(#{$color-primary})");
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mdl-card__subtitle {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.2); //$employer-form-color-darker;
    line-height: 1.2em;
  }
}

@mixin typo-employer-form-topic($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 20px;
  font-weight: 300;
  color: $employer-form-color-darker;
}

@mixin typo-employer-form-inputs($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  color: $employer-form-color-brighter;
  font-size: 16px;
  font-weight: 300;
}

@mixin typo-employer-form-button($usePreferred: true) {
  @include typo-preferred-font($usePreferred);
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: white;
}