@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
body {
    font: 300 16px/20px Roboto, Lato, sans-serif;
    padding: 0;
    margin: 0;
}
body > header {
    background: #303F9F;
    padding: 37px;
}

[ng-app] {
    width: 274px;
    padding: 10px;
}

h1.small {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
    text-indent: 5px;
    color: #a2cf6e;
}

h2 {
    font-size: 45px;
    line-height: 48px;
    margin: 0;
    color: #FFFFFF;
}

p {
    margin: 2em 0;
}

.light {
    font-weight: 100;
}

calendar {
    *zoom: 1;
    clear: left;
    margin: 3px 0;
    display: block;
}
calendar:after {
    content: "";
    display: table;
    clear: both;
}
calendar > header {
    color: #212121;
    font-size: 18px;
    padding: 0;
    text-align: center;
    margin: 0 3px 3px 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 18.5px;
    border-radius: 2px;
    font-weight: 100;
    position: relative;
    line-height: 37px;
    height: 37px;
    width: 232px;
}
calendar > header a {
    cursor: pointer;
    position: absolute;
    top: 5px;
    bottom: 0;
    height: 24px;
    width: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.125), 0 2px 5px rgba(0, 0, 0, 0.125);
    -webkit-transition: 0.35s ease;
    transition: 0.35s ease;
    border-radius: 50%;
}
calendar > header a.disabled {
    cursor: default;
}
calendar > header a:hover {
    background: #f9f9f9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.125), 0 5px 8px rgba(0, 0, 0, 0.125);
}
calendar > header a:before {
    content: '';
    width: 0;
    height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: transparent #8BC34A;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
calendar > header .back {
    left: 0;
}
calendar > header .back:before {
    border-left: none;
    margin-left: -2px;
}
calendar > header .forward {
    right: 0;
}
calendar > header .forward:before {
    border-right: none;
    margin-left: 2px;
}

.day-header {
    overflow: hidden;
    *zoom: 1;
}
.day-header .day {
    float: left;
    line-height: 37px;
    height: 37px;
    display: block;
    width: 36px;
    margin: 0 3px 3px 0;
    background: #8BC34A;
    text-align: center;
    color: #FFFFFF;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 2px;
}

.day-content {
    position: relative;
    height: 184px;
}

day {
    background: #3F51B5;
    color: #FFFFFF;
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    margin: 0 3px 3px 0;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
    font-weight: 100;
    border-radius: 2px;
    -webkit-transition: 0.35s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition: 0.35s cubic-bezier(0.55, 0, 0.55, 0.2);
    position: absolute;
}
day[data-row='1'] {
    top: 39px;
}
day[data-row='2'] {
    top: 78px;
}
day[data-row='3'] {
    top: 117px;
}
day[data-row='4'] {
    top: 156px;
}
day[data-row='5'] {
    top: 195px;
}
day[data-row='6'] {
    top: 234px;
}
day[data-col='1'] {
    left: 39px;
}
day[data-col='2'] {
    left: 78px;
}
day[data-col='3'] {
    left: 117px;
}
day[data-col='4'] {
    left: 156px;
}
day[data-col='5'] {
    left: 195px;
}
day[data-col='6'] {
    left: 234px;
}
day[data-col='0'], day[data-col='6'] {
    background: #7885cb;
}
day.inactive {
    background: #B6B6B6;
}
day.inactive[data-col='0'], day.inactive[data-col='6'] {
    background: #dadada;
}
day[data-col='0'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.88536s;
    transition-delay: 0.88536s;
}
day[data-col='0'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.48536s;
    transition-delay: 0.48536s;
}
.back day[data-col='0'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.back day[data-col='0'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
day[data-col='0'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.89029s;
    transition-delay: 0.89029s;
}
day[data-col='0'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.49029s;
    transition-delay: 0.49029s;
}
.back day[data-col='0'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.46934s;
    transition-delay: 0.46934s;
}
.back day[data-col='0'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.06934s;
    transition-delay: 0.06934s;
}
day[data-col='0'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.90478s;
    transition-delay: 0.90478s;
}
day[data-col='0'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.50478s;
    transition-delay: 0.50478s;
}
.back day[data-col='0'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.53868s;
    transition-delay: 0.53868s;
}
.back day[data-col='0'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.13868s;
    transition-delay: 0.13868s;
}
day[data-col='0'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.92806s;
    transition-delay: 0.92806s;
}
day[data-col='0'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.52806s;
    transition-delay: 0.52806s;
}
.back day[data-col='0'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.60801s;
    transition-delay: 0.60801s;
}
.back day[data-col='0'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.20801s;
    transition-delay: 0.20801s;
}
day[data-col='0'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.95902s;
    transition-delay: 0.95902s;
}
day[data-col='0'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.55902s;
    transition-delay: 0.55902s;
}
.back day[data-col='0'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.67735s;
    transition-delay: 0.67735s;
}
.back day[data-col='0'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.27735s;
    transition-delay: 0.27735s;
}
day[data-col='0'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.99646s;
    transition-delay: 0.99646s;
}
day[data-col='0'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.59646s;
    transition-delay: 0.59646s;
}
.back day[data-col='0'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.74669s;
    transition-delay: 0.74669s;
}
.back day[data-col='0'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.34669s;
    transition-delay: 0.34669s;
}
day[data-col='0'][data-row='6'].ng-enter {
    -webkit-transition-delay: 1.03926s;
    transition-delay: 1.03926s;
}
day[data-col='0'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.63926s;
    transition-delay: 0.63926s;
}
.back day[data-col='0'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.81603s;
    transition-delay: 0.81603s;
}
.back day[data-col='0'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.41603s;
    transition-delay: 0.41603s;
}
day[data-col='1'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.81603s;
    transition-delay: 0.81603s;
}
day[data-col='1'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.41603s;
    transition-delay: 0.41603s;
}
.back day[data-col='1'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.46934s;
    transition-delay: 0.46934s;
}
.back day[data-col='1'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.06934s;
    transition-delay: 0.06934s;
}
day[data-col='1'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.82176s;
    transition-delay: 0.82176s;
}
day[data-col='1'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.42176s;
    transition-delay: 0.42176s;
}
.back day[data-col='1'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.49806s;
    transition-delay: 0.49806s;
}
.back day[data-col='1'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.09806s;
    transition-delay: 0.09806s;
}
day[data-col='1'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.83853s;
    transition-delay: 0.83853s;
}
day[data-col='1'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.43853s;
    transition-delay: 0.43853s;
}
.back day[data-col='1'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.55504s;
    transition-delay: 0.55504s;
}
.back day[data-col='1'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.15504s;
    transition-delay: 0.15504s;
}
day[data-col='1'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.86513s;
    transition-delay: 0.86513s;
}
day[data-col='1'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.46513s;
    transition-delay: 0.46513s;
}
.back day[data-col='1'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.61926s;
    transition-delay: 0.61926s;
}
.back day[data-col='1'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.21926s;
    transition-delay: 0.21926s;
}
day[data-col='1'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
day[data-col='1'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.back day[data-col='1'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.68589s;
    transition-delay: 0.68589s;
}
.back day[data-col='1'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.28589s;
    transition-delay: 0.28589s;
}
day[data-col='1'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.94154s;
    transition-delay: 0.94154s;
}
day[data-col='1'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.54154s;
    transition-delay: 0.54154s;
}
.back day[data-col='1'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.75355s;
    transition-delay: 0.75355s;
}
.back day[data-col='1'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.35355s;
    transition-delay: 0.35355s;
}
day[data-col='1'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.98835s;
    transition-delay: 0.98835s;
}
day[data-col='1'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.58835s;
    transition-delay: 0.58835s;
}
.back day[data-col='1'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.82176s;
    transition-delay: 0.82176s;
}
.back day[data-col='1'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.42176s;
    transition-delay: 0.42176s;
}
day[data-col='2'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.74669s;
    transition-delay: 0.74669s;
}
day[data-col='2'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.34669s;
    transition-delay: 0.34669s;
}
.back day[data-col='2'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.53868s;
    transition-delay: 0.53868s;
}
.back day[data-col='2'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.13868s;
    transition-delay: 0.13868s;
}
day[data-col='2'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.75355s;
    transition-delay: 0.75355s;
}
day[data-col='2'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.35355s;
    transition-delay: 0.35355s;
}
.back day[data-col='2'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.55504s;
    transition-delay: 0.55504s;
}
.back day[data-col='2'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.15504s;
    transition-delay: 0.15504s;
}
day[data-col='2'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.77339s;
    transition-delay: 0.77339s;
}
day[data-col='2'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.37339s;
    transition-delay: 0.37339s;
}
.back day[data-col='2'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.59612s;
    transition-delay: 0.59612s;
}
.back day[data-col='2'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.19612s;
    transition-delay: 0.19612s;
}
day[data-col='2'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.8043s;
    transition-delay: 0.8043s;
}
day[data-col='2'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.4043s;
    transition-delay: 0.4043s;
}
.back day[data-col='2'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s;
}
.back day[data-col='2'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
day[data-col='2'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.84398s;
    transition-delay: 0.84398s;
}
day[data-col='2'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.44398s;
    transition-delay: 0.44398s;
}
.back day[data-col='2'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.71009s;
    transition-delay: 0.71009s;
}
.back day[data-col='2'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.31009s;
    transition-delay: 0.31009s;
}
day[data-col='2'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.89029s;
    transition-delay: 0.89029s;
}
day[data-col='2'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.49029s;
    transition-delay: 0.49029s;
}
.back day[data-col='2'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.77339s;
    transition-delay: 0.77339s;
}
.back day[data-col='2'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.37339s;
    transition-delay: 0.37339s;
}
day[data-col='2'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.94154s;
    transition-delay: 0.94154s;
}
day[data-col='2'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.54154s;
    transition-delay: 0.54154s;
}
.back day[data-col='2'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.83853s;
    transition-delay: 0.83853s;
}
.back day[data-col='2'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.43853s;
    transition-delay: 0.43853s;
}
day[data-col='3'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.67735s;
    transition-delay: 0.67735s;
}
day[data-col='3'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.27735s;
    transition-delay: 0.27735s;
}
.back day[data-col='3'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.60801s;
    transition-delay: 0.60801s;
}
.back day[data-col='3'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.20801s;
    transition-delay: 0.20801s;
}
day[data-col='3'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.68589s;
    transition-delay: 0.68589s;
}
day[data-col='3'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.28589s;
    transition-delay: 0.28589s;
}
.back day[data-col='3'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.61926s;
    transition-delay: 0.61926s;
}
.back day[data-col='3'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.21926s;
    transition-delay: 0.21926s;
}
day[data-col='3'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.71009s;
    transition-delay: 0.71009s;
}
day[data-col='3'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.31009s;
    transition-delay: 0.31009s;
}
.back day[data-col='3'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s;
}
.back day[data-col='3'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
day[data-col='3'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.74669s;
    transition-delay: 0.74669s;
}
day[data-col='3'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.34669s;
    transition-delay: 0.34669s;
}
.back day[data-col='3'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.69417s;
    transition-delay: 0.69417s;
}
.back day[data-col='3'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.29417s;
    transition-delay: 0.29417s;
}
day[data-col='3'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.79223s;
    transition-delay: 0.79223s;
}
day[data-col='3'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.39223s;
    transition-delay: 0.39223s;
}
.back day[data-col='3'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.74669s;
    transition-delay: 0.74669s;
}
.back day[data-col='3'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.34669s;
    transition-delay: 0.34669s;
}
day[data-col='3'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.84398s;
    transition-delay: 0.84398s;
}
day[data-col='3'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.44398s;
    transition-delay: 0.44398s;
}
.back day[data-col='3'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.8043s;
    transition-delay: 0.8043s;
}
.back day[data-col='3'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.4043s;
    transition-delay: 0.4043s;
}
day[data-col='3'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
day[data-col='3'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.back day[data-col='3'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.86513s;
    transition-delay: 0.86513s;
}
.back day[data-col='3'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.46513s;
    transition-delay: 0.46513s;
}
day[data-col='4'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.60801s;
    transition-delay: 0.60801s;
}
day[data-col='4'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.20801s;
    transition-delay: 0.20801s;
}
.back day[data-col='4'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.67735s;
    transition-delay: 0.67735s;
}
.back day[data-col='4'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.27735s;
    transition-delay: 0.27735s;
}
day[data-col='4'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.61926s;
    transition-delay: 0.61926s;
}
day[data-col='4'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.21926s;
    transition-delay: 0.21926s;
}
.back day[data-col='4'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.68589s;
    transition-delay: 0.68589s;
}
.back day[data-col='4'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.28589s;
    transition-delay: 0.28589s;
}
day[data-col='4'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s;
}
day[data-col='4'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.back day[data-col='4'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.71009s;
    transition-delay: 0.71009s;
}
.back day[data-col='4'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.31009s;
    transition-delay: 0.31009s;
}
day[data-col='4'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.69417s;
    transition-delay: 0.69417s;
}
day[data-col='4'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.29417s;
    transition-delay: 0.29417s;
}
.back day[data-col='4'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.74669s;
    transition-delay: 0.74669s;
}
.back day[data-col='4'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.34669s;
    transition-delay: 0.34669s;
}
day[data-col='4'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.74669s;
    transition-delay: 0.74669s;
}
day[data-col='4'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.34669s;
    transition-delay: 0.34669s;
}
.back day[data-col='4'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.79223s;
    transition-delay: 0.79223s;
}
.back day[data-col='4'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.39223s;
    transition-delay: 0.39223s;
}
day[data-col='4'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.8043s;
    transition-delay: 0.8043s;
}
day[data-col='4'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.4043s;
    transition-delay: 0.4043s;
}
.back day[data-col='4'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.84398s;
    transition-delay: 0.84398s;
}
.back day[data-col='4'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.44398s;
    transition-delay: 0.44398s;
}
day[data-col='4'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.86513s;
    transition-delay: 0.86513s;
}
day[data-col='4'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.46513s;
    transition-delay: 0.46513s;
}
.back day[data-col='4'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.back day[data-col='4'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
day[data-col='5'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.53868s;
    transition-delay: 0.53868s;
}
day[data-col='5'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.13868s;
    transition-delay: 0.13868s;
}
.back day[data-col='5'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.74669s;
    transition-delay: 0.74669s;
}
.back day[data-col='5'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.34669s;
    transition-delay: 0.34669s;
}
day[data-col='5'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.55504s;
    transition-delay: 0.55504s;
}
day[data-col='5'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.15504s;
    transition-delay: 0.15504s;
}
.back day[data-col='5'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.75355s;
    transition-delay: 0.75355s;
}
.back day[data-col='5'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.35355s;
    transition-delay: 0.35355s;
}
day[data-col='5'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.59612s;
    transition-delay: 0.59612s;
}
day[data-col='5'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.19612s;
    transition-delay: 0.19612s;
}
.back day[data-col='5'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.77339s;
    transition-delay: 0.77339s;
}
.back day[data-col='5'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.37339s;
    transition-delay: 0.37339s;
}
day[data-col='5'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s;
}
day[data-col='5'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.back day[data-col='5'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.8043s;
    transition-delay: 0.8043s;
}
.back day[data-col='5'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.4043s;
    transition-delay: 0.4043s;
}
day[data-col='5'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.71009s;
    transition-delay: 0.71009s;
}
day[data-col='5'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.31009s;
    transition-delay: 0.31009s;
}
.back day[data-col='5'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.84398s;
    transition-delay: 0.84398s;
}
.back day[data-col='5'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.44398s;
    transition-delay: 0.44398s;
}
day[data-col='5'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.77339s;
    transition-delay: 0.77339s;
}
day[data-col='5'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.37339s;
    transition-delay: 0.37339s;
}
.back day[data-col='5'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.89029s;
    transition-delay: 0.89029s;
}
.back day[data-col='5'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.49029s;
    transition-delay: 0.49029s;
}
day[data-col='5'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.83853s;
    transition-delay: 0.83853s;
}
day[data-col='5'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.43853s;
    transition-delay: 0.43853s;
}
.back day[data-col='5'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.94154s;
    transition-delay: 0.94154s;
}
.back day[data-col='5'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.54154s;
    transition-delay: 0.54154s;
}
day[data-col='6'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.46934s;
    transition-delay: 0.46934s;
}
day[data-col='6'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.06934s;
    transition-delay: 0.06934s;
}
.back day[data-col='6'][data-row='0'].ng-enter {
    -webkit-transition-delay: 0.81603s;
    transition-delay: 0.81603s;
}
.back day[data-col='6'][data-row='0'].ng-leave {
    -webkit-transition-delay: 0.41603s;
    transition-delay: 0.41603s;
}
day[data-col='6'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.49806s;
    transition-delay: 0.49806s;
}
day[data-col='6'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.09806s;
    transition-delay: 0.09806s;
}
.back day[data-col='6'][data-row='1'].ng-enter {
    -webkit-transition-delay: 0.82176s;
    transition-delay: 0.82176s;
}
.back day[data-col='6'][data-row='1'].ng-leave {
    -webkit-transition-delay: 0.42176s;
    transition-delay: 0.42176s;
}
day[data-col='6'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.55504s;
    transition-delay: 0.55504s;
}
day[data-col='6'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.15504s;
    transition-delay: 0.15504s;
}
.back day[data-col='6'][data-row='2'].ng-enter {
    -webkit-transition-delay: 0.83853s;
    transition-delay: 0.83853s;
}
.back day[data-col='6'][data-row='2'].ng-leave {
    -webkit-transition-delay: 0.43853s;
    transition-delay: 0.43853s;
}
day[data-col='6'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.61926s;
    transition-delay: 0.61926s;
}
day[data-col='6'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.21926s;
    transition-delay: 0.21926s;
}
.back day[data-col='6'][data-row='3'].ng-enter {
    -webkit-transition-delay: 0.86513s;
    transition-delay: 0.86513s;
}
.back day[data-col='6'][data-row='3'].ng-leave {
    -webkit-transition-delay: 0.46513s;
    transition-delay: 0.46513s;
}
day[data-col='6'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.68589s;
    transition-delay: 0.68589s;
}
day[data-col='6'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.28589s;
    transition-delay: 0.28589s;
}
.back day[data-col='6'][data-row='4'].ng-enter {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.back day[data-col='6'][data-row='4'].ng-leave {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
day[data-col='6'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.75355s;
    transition-delay: 0.75355s;
}
day[data-col='6'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.35355s;
    transition-delay: 0.35355s;
}
.back day[data-col='6'][data-row='5'].ng-enter {
    -webkit-transition-delay: 0.94154s;
    transition-delay: 0.94154s;
}
.back day[data-col='6'][data-row='5'].ng-leave {
    -webkit-transition-delay: 0.54154s;
    transition-delay: 0.54154s;
}
day[data-col='6'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.82176s;
    transition-delay: 0.82176s;
}
day[data-col='6'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.42176s;
    transition-delay: 0.42176s;
}
.back day[data-col='6'][data-row='6'].ng-enter {
    -webkit-transition-delay: 0.98835s;
    transition-delay: 0.98835s;
}
.back day[data-col='6'][data-row='6'].ng-leave {
    -webkit-transition-delay: 0.58835s;
    transition-delay: 0.58835s;
}
day.ng-enter {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
day.ng-enter.ng-enter-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
day.ng-leave {
    -webkit-transition: 0.35s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition: 0.35s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
day.ng-leave.ng-leave-active {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.date-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47px;
    right: 50px;
    overflow: hidden;
}
.date-wrapper span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: 0.65s ease-in-out;
    transition: 0.65s ease-in-out;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.date-wrapper span.ng-enter {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}
.back .date-wrapper span.ng-enter {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.date-wrapper span.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.date-wrapper span.ng-leave {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.date-wrapper span.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}
.back .date-wrapper span.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

