.dashboard-card{
    width: 100%;
    min-height: 300px;
    background-color: $card-color;
}

.dashboard-card__title{
    width: 100%;
    height: 68px;
    padding: 21px 16px;
    background-color: $header-color;
}

.dashboard-card__title-text{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #ffffff;
    font-size: 21px;
}

.dashboard-card__content{
    width: 100%;
    min-height: 198px;
    padding: 0;
    margin: 0;
}

