#general_skills {
    margin-top: -20px;
    margin-left: 0;
    width: 100%;
}

#general_skills div {
    width: 100%;
}

#submit_button {
    margin-left: 82%;
}
        
#employer-form {
    padding: 0;
    width: 670px;
    background-color: $background-color;
    margin-top: 3%;
    margin-left: 20%;
}

#employer-form header {
    background-color: $color-accent;
    height: 50px;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 15px;
}

#employer-form div {
    display: inline-block;
}

#employer-form .mdl-radio {
width: 100%;
}

#employer-form>div {
    padding-top:20px; 
    padding-left:80px; 
    width: 82%;
}

#employer-form p {
    font-size:20px; 
    font-family: 'roboto';
    line-size: 1em;
    margin-bottom:0;
    padding-top:0px;
    padding-bottom:0;
}

#employer-form>div>div>p{
    padding-top: 20px;
    font-size: 16px;
}

#employer-form>div>div {
    width: 100%;
}

#employer-form label {
    font-size: 14px;
    font-family: "roboto";
    color: gray;
}

#employer-form input {
    font-size: 16px;
    font-family: "roboto";
}

#employer-form .align-left {
    float:left;
    margin-left: 0px;
    width:47%;
}

#employer-form .align-right {
    float: left;
    margin-left: 4%;
    width: 49%;
}

#employer-form .align-left > div,  #employer-form .align-right > div {
    width: 100%;
}

.creative-dropdown>.mdl-icon-toggle {
    float:right;
    margin-top:-30px;
}
        
.creative-dropdown>.mdl-icon-toggle>i {
    color: gray;
}