@font-face {
  font-family: Roboto; /* Гарнитура шрифта */
  src: url(../fonts/RobotoTTF/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Roboto-Light; /* Гарнитура шрифта */
  src: url(../fonts/RobotoTTF/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}