.notifications {
    @extend .dropdown-menu;
}

.notifications li {
    border-bottom: 1px solid $border-color;
}

.notifications li:last-child {
    border-color: $background-color;
}

.notifications span {
    @include typo-dropdown-menu-li();
}

.notifications .round_icon {
    margin-right: 16px;
}

.notifications .label {
    float: right;
}