.todo-list{
  width: calc(100% - 32px);
  /*height: 170px;*/
  list-style-type: none;
  padding: 16px 16px 12px;
  margin: 0px;
  /*overflow-y: hidden;*/
}
.todo-list__item{
  /*height: 18px;*/
  line-height: 18px;
  cursor: pointer;
  margin: 0px 0px 21px 0px;
}
.todo-list__checkbox{
  height: auto;
  width: calc(100% - 28px);
  padding-left: 36px !important;
}

.todo-list__checkbox > .mdl-checkbox__focus-helper{
  height: 18px;
  width: 18px;
}

.todo-list__checkbox-label{
  font-family: "Roboto-Light", "Helvetica", "Arial", sans-serif;
  font-size: 16px !important;
  line-height: 18px;
  top: 3px;
  color: #ffffff;
}

.todo-list__checkbox .mdl-checkbox__box-outline{
  width: 18px;
  height: 18px;
  border: 2px solid white;
}

.todo-list__checkbox.is-checked .mdl-checkbox__box-outline {
  border: 2px solid $fist-user-color;
}

//.todo-list__checkbox .mdl-checkbox__tick-outline{
//  background: #ff5252 url("../images/tick.svg?embed") !important;
//}
//
//.mdl-checkbox__tick-outline{
//  mask: url("../images/tick-mask.svg?embed") !important;
//}

.todo-list__checkbox .mdl-checkbox__ripple-container .mdl-ripple {
  background: #171717; }

.todo-list__destroy-button{
  height: 24px;
  width: 24px;
  min-width: 24px;
  float: right;
}

.destroy-button__icon{
  font-size: 18px;
  display: none;
}

.todo-list__item:hover .destroy-button__icon{
  display: inline-block;
}

.todo-list__button{

}

.button_colored{
  color: $fist-user-color !important;
}

.todo-card__actions{
  border: none !important;
  background-color: rgba(0, 0, 0, 0.05);
  height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.todo-card__remove-button{
  color: #f9f9f9;
  font-size: 14px;
  padding-top: 3px;
}

.todo-card__add-button{
  margin: 0 16px 0 auto ;
  position: relative;
  top: -26px;
  color: #f9f9f9;
  background-color: $fist-user-color !important;
  z-index: 100;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background: $fist-user-color url("../images/tick.svg"); }

.mdl-checkbox__tick-outline {
  -webkit-mask: url("../images/tick-mask.svg");
  mask: url("../images/tick-mask.svg");
}

.mdl-card__actions > input {
  display: none; }

.todo-list__add-item-area {
  color: #f9f9f9;
  top: 15px;
}

.todo-list__add-item-area-text {
  height: 38px;
}

.todo-list__add-item-area-label{
  color: #f9f9f9 !important;
}

.todo-list__add-item-area-label:after{
  background-color: $fist-user-color;
  bottom: 40px;
}