.tranding-list{
    width: 100%;
    list-style-type: none;
    padding: 8px 0px;
    margin: 0px;
    overflow-y: hidden;
}

.tranding-list__item{
    height: 18px;
    line-height: 18px;
    cursor: pointer;
    margin: 0px;
    padding: 15px 16px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.tranding-list__item:last-child{
    border-bottom: none;
}

.tranding-list__item-text{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px !important;
    color: #ffffff;
}

.tranding-list__item-icon{
    width: 34px;
    float: right;
    font-size: 38px;
    margin-top: -10px;
}

.tranding-list__item-percent{
    float: right;
    width: 38px;
    text-align: right;

}

.icon_up{
    color: cyan;
}

.icon_down{
    color: $fist-user-color;
}