.label  {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    height: $label-height !important;
    padding: $label-padding;
    margin: 0;
    margin-left: auto;
    @include typo-label();
}

.label--primary {
    background-color: rgba(0, 188,212, 0.8) !important;// $color-primary !important;
    color: white;
}

.label--secondary {
    background-color: $color-secondary !important;
}

.label--frameless {
    background-color: rgba(0, 0, 0, 0);
}