.list {
  @include typo-list;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item{
  margin: 0 0 18px 0;
  color: $list-item-text-color;
  word-wrap: break-word;
}

.list__item--border-botom{
  border-bottom: 1px solid $list-item-border-color;
}


