.mdl-layout--fixed-drawer{
  & > .mdl-layout__content {
    margin-left: $layout-drawer-narrow;
  }
  &.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 0;
    width: 100%;
  }
}

main {
  background: url("../images/Dark_background_1920x1080.png") center top no-repeat;
  background-size: cover;
}

.mdl-layout__drawer {
  border: none;
  header {
    height: 62px;
    background: url("../images/imgo.png");
  }

  & .mdl-navigation {
    padding-top: 48px;

    & .mdl-navigation__link {
      @include typo-layout-navigation-link;
      padding: 12px 0;
      position: relative;
      .material-icons {
        margin: -5px 25px 0 23px;
        color: $layout-drawer-navigation-link-icon-color;
      }
        &--current {
          .material-icons {
            color: $layout-drawer-navigation-link-active-color;
          }
          &:before {
            position: absolute;
            content: '';
            width: 2px;
            background: $layout-drawer-navigation-link-active-color;
            height: 100%;
            top: 0;
          }
        }

      &:hover {
        color: $layout-drawer-navigation-link-active-color;
        .material-icons {
          color: $layout-drawer-navigation-link-active-color;
        }
      }
    }
  }
}

.mdl-layout__header-row{
  color: $dropdown-menu-header-font-color;
  .avatar-dropdown {
    & > img {
      width: $layout-header-icon-size;
      height: $layout-header-icon-size;
      margin-right: 10px;
    }
  }
  .mdl-textfield{
    padding: 22px 8px;
  }

  #more {
    margin: 0 16px;
  }

  .material-icons.mdl-badge{
    margin: 12px;
    cursor: pointer;
    &.mdl-badge--overlap {
      &:after {
        top: -7px;
      }
    }
  }

  #userNameHeader {
    color: $layout-header-name-color;
    padding: 0 16px 0 32px;
  }

}

@media screen and (max-width: $layout-screen-size-threshold) {
  .mdl-layout--fixed-drawer {
    & > .mdl-layout__content {
      margin-left: 0;
    }
    & > .mdl-layout__drawer {
      transform: translateX(-$layout-drawer-width - 10px);
      &.is-visible {
        transform: translateX(0) !important;
      }
    }
  }
}
